/* Write your code here. */
.emoji-card {
  border: 2px solid #ffffff30;
  background-color: #ffffff30;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 15px;
  padding: 0.5rem;
}

@media screen and (min-width: 767px) {
  .emoji-card {
    padding: 2rem;
  }
}

.emoji-card-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.emoji-card-image {
  height: 39px;
  width: 39px;
}

@media screen and (min-width: 767px) {
  .emoji-card-image {
    height: 80px;
    width: 80px;
  }
}
